@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Pacifico&display=swap');

:roots{
    --primary-color: #0d1321;
    --secondary-color:#1d2d44;
    --accent1-color:#3e5c76;
    --accent2-colot:#748cab;

    --heading-font: "Pacifico";
    --paragraph-font: 'Nunito Sans', sans-serif;

    --headline-color-on-white: #1d2d44;
    --headline-color-on-color: gray;
    --paragraph-color-on-white: #0d1321;
    --paragraph-color-on-color: gray;
    --paragraph-background-color: #0d1321;
    --nav-link-color: #1d2d44;
    --nav-background-color: #748cab;
    --nav-hover-link-color: #3e5c76;
    --nav-hover-background-color: #748cab; 
}
body{
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
    max-width: 300px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Pacifico', cursive;
    color: #1d2d44;
}
h2{
    text-align: center;
}
hr{
    height: 3px;
    margin: 35px;
    color: #3e5c76;
}
header{
    padding: 1em;
    text-align: center;
    color: gray;
    background-color: #748cab;
}
header > h1, header > h2{
    color: whitesmoke;
}
p{
    font-family: 'Nunito Sans', sans-serif;
    color: #0d1321;
    padding: 1em;
}
.colors{
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}
.colors th{
    background-color:#748cab
}
.colors td{
    width: 25%;
    height: 3em;
}
.primary{
    background-color: #0d1321;
    color: azure;
}
.secondary{
    background-color: #1d2d44;
    color: azure;
}
.accent1{
    background-color: #3e5c76;
}
.accent2{
    background-color: #748cab;
}
p.colored{
    background-color: #0d1321;
    color: gray;
}
nav{
    background-color: #3e5c76;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}
nav{
    list-style-type: none;
    display: flex;
}
nav a{
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
}
nav a:link , nav a:visited{
    color: azure;
}
nav a:hover{
    color: #3e5c76;
    background-color: #748cab;
}
.sitemap{
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap> div{
    text-align: center;
}
.sm-home {
    grid-area: home;
    background-color: #ccc;
    line-height: 3em;
  }
  .sm-page2 {
    grid-area: page2;
    background-color: #ccc;
    line-height: 3em;
  }
  .sm-page3 {
    grid-area: page3;
    background-color: #ccc;
    line-height: 3em;
  }
  .top {
    grid-area: top;
    border-left: 1px solid;
  }
  .left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
  }
  .right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
  }
